body {
  text-align: center;
    margin: 0 auto;
    min-width: 1500px;
}


.top_container {
  height: 1605px;
  min-width: 1500 px;
}


.self_photo {
  position: absolute;
  left: 50px;
  top: 130px;
}

.mountain {
  position: absolute;
  width: 2505px;
  height: 1000px;
  min-width: 1500px;
  left: 0px;
}


.circle {
  position: absolute;
  top: 220px;
  left: 940px;
  mix-blend-mode: multiply;
}

.computer {
  position: absolute;
  left: 1150px;
  top: 400px;
  }


.header1 {
  position: absolute;
  top: 300px;
  left: 1190px;
  width: 300px;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  color: #a8a6a3;
}

.parag1 {
  position: absolute;
  width: 500px;
  top: 620px;
  left: 1080px;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: #a8a6a3;
  font-weight: bold;
}

.parag2  {
  position: absolute;
  top: 580px;
  left: 120px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;;
  color:#06225a;
  font-weight: bold;
}

.parag3  {
  position: absolute;
  top: 610px;
  left: 140px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  color: #06225a;
  font-weight: bold;
}

.parag4  {
  position: absolute;
  top: 640px;
  left: 40px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  color: #06225a;
  font-weight: bold;
}

.top-cloud {
  position: absolute;
  top: 150px;
  left: 450px;
}

.middle-cloud {
  position: absolute;
  top: 260px;
  left: 1260px;
}


.bottom-cloud {
  position: absolute;
  top: 150px;
  left: 2100px;
}


.middle_container {
  position: absolute;
  top: 1000px;
  left: 0px;
  height: 1200px;
  width: 2505px;
  min-width: 2505px;
  background-color: #6a8698;
}


.education {
  position: absolute;
  left: 155px;
  top: 85px;
}

.circle1 {
  position: absolute;
  left:50px;
  top: 5px;
}


.skills {
  position: absolute;
  top: 85px;
  left: 1138px;
}

.circle2 {
  position: absolute;
  top: 5px;
  left:1040px;

}



.certificate {
  position: absolute;
  top: 130px;
  left: 2060px;
}


.circle3 {
  position: absolute;
  top: 5px;
  left:1920px;
}



.table1 {
  position: absolute;
  width: 25%;
  left: 630px;
  top: 820px;
}

.header2 {
  position: absolute;
  top: 500px;
  left: 1255px;
  font-size: 46px;
  color: #bca49c;
  font-family: 'Caveat', cursive;
}

.header3 {
    position: absolute;
    width: 100px;
    left: 240px;
    top:500px;
    font-size: 46px;
    color: #bca49c;
    font-family: 'Caveat', cursive;
}

.header4{
    position: absolute;
    width: 100px;
    left: 1950px;
    top:500px;
    font-size: 46px;
    color: #bca49c;
    font-family: 'Caveat', cursive;
}


.tr1 {
  position: relative;
  left: 350px;
  bottom: 200px;
  color: #bca49c;
  font-size: 26px;
  font-weight: bold;
}

.tr2 {
  position: relative;
  left: 350px;
  bottom: 160px;
  color: #bca49c;
  font-size: 26px;
  font-weight: bold;
}

.tr3 {
  position: relative;
  left: 350px;
  bottom: 120px;
  color: #bca49c;
  font-size: 26px;
  font-weight: bold;
}
.tr4 {
  position: relative;
  left: 350px;
  bottom: 80px;
  color: #bca49c;
  font-size: 26px;
  font-weight: bold;
}


.dotted-list {
  position: absolute;
  top: 800px;
  left: -900px;
  margin-top: 50px;

}

.ele1 {
  width: 450px;
  position: relative;
  left: 940px;
  bottom: 200px;
  list-style-type: none;
  margin-bottom: 40px;
  color: #bca49c;
  font-size: 26px;
  font-weight: bold;
}

.ele2 {
  width: 450px;
  position: relative;
  left: 940px;
  bottom: 200px;
  list-style-type: none;
  color: #bca49c;
  font-size: 26px;
  font-weight: bold;
}


.ele3 {
  width: 450px;
  position: relative;
  left: 1930px;
  top: 600px;
  list-style-type: none;
  margin-top: 40px;
  margin-bottom: 60px;
  color: #bca49c;
  font-size: 26px;
  font-weight: bold;
}

.ele4 {
  width: 450px;
  position: relative;
  left: 1930px;
  top: 600px;
  list-style-type: none;
  margin-top: 40px;
  margin-bottom: 60px;
  color: #bca49c;
  font-size: 26px;
  font-weight: bold;
}

.ele5 {
  width: 450px;
  position: relative;
  left: 1930px;
  top: 600px;
  list-style-type: none;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #bca49c;
  font-size: 26px;
  font-weight: bold;
}

.bottom_container {
  position: absolute;
  top: 2100px;
  height: 400px;
  width: 2505px;
  background-color: #4FD3C4;
}


.contact {
  position: absolute;
  top: 30px;
  left: 120px;
}

.media {
  position: absolute;
  top: 30px;
  left: 2100px;
}

.header5 {
  position: absolute;
  width: 200px;
  left: 500px;
  top:-10px;
  font-size: 46px;
  color: #06225a;
  font-family: 'Caveat', cursive;
}

.mail {
  position: absolute;
  top: 100px;
  left: 520px;
}

.ele6 {
  position: absolute;
  width: 80px;
  top:-30px;
  left: 130px;
  list-style-type: none;
}

.header6 {
  position: absolute;
  width: 200px;
  left: 1850px;
  top:-10px;
  font-size: 46px;
  color: #06225a;
  font-family: 'Caveat', cursive;
}

.list1 {
  position: absolute;
  top: 130px;
  left: 460px;
}

.fb {
  position: absolute;
  top: 100px;
  left: 1900px;
}

.ele7 {
  position: absolute;
  width: 80px;
  top:-30px;
  left: 1500px;
  list-style-type: none;
}

.lin {
  position: absolute;
  top: 160px;
  left: 1900px;
}

.ele8 {
  position: absolute;
  width: 80px;
  top:30px;
  left: 1500px;
  list-style-type: none;
}


.git {
  position: absolute;
  top: 220px;
  left: 1900px;
}


.ele9 {
  position: absolute;
  width: 80px;
  top:90px;
  left: 1500px;
  list-style-type: none;
}
